<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aasigndeva</key>
	<string>aasigndeva.glif</string>
	<key>badeva</key>
	<string>badeva.glif</string>
	<key>bhadeva</key>
	<string>bhadeva.glif</string>
	<key>cadeva</key>
	<string>cadeva.glif</string>
	<key>chadeva</key>
	<string>chadeva.glif</string>
	<key>dadeva</key>
	<string>dadeva.glif</string>
	<key>ddadeva</key>
	<string>ddadeva.glif</string>
	<key>dddhadeva</key>
	<string>dddhadeva.glif</string>
	<key>ddhadeva</key>
	<string>ddhadeva.glif</string>
	<key>dhadeva</key>
	<string>dhadeva.glif</string>
	<key>esigndeva</key>
	<string>esigndeva.glif</string>
	<key>fadeva</key>
	<string>fadeva.glif</string>
	<key>gadeva</key>
	<string>gadeva.glif</string>
	<key>ghadeva</key>
	<string>ghadeva.glif</string>
	<key>ghhadeva</key>
	<string>ghhadeva.glif</string>
	<key>hadeva</key>
	<string>hadeva.glif</string>
	<key>jadeva</key>
	<string>jadeva.glif</string>
	<key>jhadeva</key>
	<string>jhadeva.glif</string>
	<key>kadeva</key>
	<string>kadeva.glif</string>
	<key>khadeva</key>
	<string>khadeva.glif</string>
	<key>khhadeva</key>
	<string>khhadeva.glif</string>
	<key>ladeva</key>
	<string>ladeva.glif</string>
	<key>madeva</key>
	<string>madeva.glif</string>
	<key>nadeva</key>
	<string>nadeva.glif</string>
	<key>ngadeva</key>
	<string>ngadeva.glif</string>
	<key>nnadeva</key>
	<string>nnadeva.glif</string>
	<key>nnnadeva</key>
	<string>nnnadeva.glif</string>
	<key>nuktadeva</key>
	<string>nuktadeva.glif</string>
	<key>nyadeva</key>
	<string>nyadeva.glif</string>
	<key>osigndeva</key>
	<string>osigndeva.glif</string>
	<key>padeva</key>
	<string>padeva.glif</string>
	<key>phadeva</key>
	<string>phadeva.glif</string>
	<key>qadeva</key>
	<string>qadeva.glif</string>
	<key>radeva</key>
	<string>radeva.glif</string>
	<key>rhadeva</key>
	<string>rhadeva.glif</string>
	<key>rradeva</key>
	<string>rradeva.glif</string>
	<key>sadeva</key>
	<string>sadeva.glif</string>
	<key>shadeva</key>
	<string>shadeva.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ssadeva</key>
	<string>ssadeva.glif</string>
	<key>tadeva</key>
	<string>tadeva.glif</string>
	<key>thadeva</key>
	<string>thadeva.glif</string>
	<key>ttadeva</key>
	<string>ttadeva.glif</string>
	<key>tthadeva</key>
	<string>tthadeva.glif</string>
	<key>vadeva</key>
	<string>vadeva.glif</string>
	<key>yadeva</key>
	<string>yadeva.glif</string>
	<key>yyadeva</key>
	<string>yyadeva.glif</string>
	<key>zadeva</key>
	<string>zadeva.glif</string>
</dict>
</plist>
