<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>CFA4B904-E3F1-48B6-A7F6-47DC1FF2A3E1</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>uni021B</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.cap</string>
		<string>breve.cap</string>
		<string>caron.cap</string>
		<string>cedilla.cap</string>
		<string>circumflex.cap</string>
		<string>dieresis.cap</string>
		<string>dotaccent.cap</string>
		<string>grave.cap</string>
		<string>hungarumlaut.cap</string>
		<string>macron.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>uni0326</string>
		<string>firsttonechinese</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>uni0904</string>
		<string>uni0972</string>
		<string>adeva</string>
		<string>aadeva</string>
		<string>ideva</string>
		<string>iideva</string>
		<string>iideva_anusvaradeva</string>
		<string>iideva_candrabindudeva</string>
		<string>udeva</string>
		<string>uudeva</string>
		<string>rvocalicdeva</string>
		<string>rrvocalicdeva</string>
		<string>lvocalicdeva</string>
		<string>llvocalicdeva</string>
		<string>ecandradeva</string>
		<string>eshortdeva</string>
		<string>edeva</string>
		<string>aideva</string>
		<string>aideva_anusvaradeva</string>
		<string>aideva_candrabindudeva</string>
		<string>ocandradeva</string>
		<string>odeva</string>
		<string>odeva_anusvaradeva</string>
		<string>odeva_candrabindudeva</string>
		<string>audeva</string>
		<string>audeva_anusvaradeva</string>
		<string>audeva_candrabindudeva</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0975</string>
		<string>uni0976</string>
		<string>uni0977</string>
		<string>uni0900</string>
		<string>candrabindudeva</string>
		<string>candrabindudeva.alt1</string>
		<string>candrabindudeva.alt2</string>
		<string>anusvaradeva</string>
		<string>anusvaradeva.alt</string>
		<string>visargadeva</string>
		<string>uni093E</string>
		<string>uni093F</string>
		<string>uni093F0930094D</string>
		<string>uni093F0930094D0902</string>
		<string>uni093F0930094D_candrabindudeva</string>
		<string>uni093F.alt1</string>
		<string>uni093F0930094D.alt1</string>
		<string>uni093F0930094D0902.alt1</string>
		<string>uni093F0930094D_candrabindudeva.alt1</string>
		<string>uni093F.alt2</string>
		<string>uni093F0930094D.alt2</string>
		<string>uni093F0930094D0902.alt2</string>
		<string>uni093F0930094D_candrabindudeva.alt2</string>
		<string>uni093F.alt3</string>
		<string>uni093F0930094D.alt3</string>
		<string>uni093F0930094D0902.alt3</string>
		<string>uni093F0930094D_candrabindudeva.alt3</string>
		<string>uni093F.alt4</string>
		<string>uni093F0930094D.alt4</string>
		<string>uni093F0930094D0902.alt4</string>
		<string>uni093F0930094D_candrabindudeva.alt4</string>
		<string>uni093F.alt5</string>
		<string>uni093F0930094D.alt5</string>
		<string>uni093F0930094D0902.alt5</string>
		<string>uni093F0930094D_candrabindudeva.alt5</string>
		<string>uni093F.alt6</string>
		<string>uni093F0930094D.alt6</string>
		<string>uni093F0930094D0902.alt6</string>
		<string>uni093F0930094D_candrabindudeva.alt6</string>
		<string>uni093F.alt7</string>
		<string>uni093F0930094D.alt7</string>
		<string>uni093F0930094D0902.alt7</string>
		<string>uni093F0930094D_candrabindudeva.alt7</string>
		<string>uni093F.alt8</string>
		<string>uni093F0930094D.alt8</string>
		<string>uni093F0930094D0902.alt8</string>
		<string>uni093F0930094D_candrabindudeva.alt8</string>
		<string>uni093F.alt9</string>
		<string>uni093F0930094D.alt9</string>
		<string>uni093F0930094D0902.alt9</string>
		<string>uni093F0930094D_candrabindudeva.alt9</string>
		<string>uni093F.alt10</string>
		<string>uni093F0930094D.alt10</string>
		<string>uni093F0930094D0902.alt10</string>
		<string>uni093F0930094D_candrabindudeva.alt10</string>
		<string>uni093F.alt11</string>
		<string>uni093F0930094D.alt11</string>
		<string>uni093F0930094D0902.alt11</string>
		<string>uni093F0930094D_candrabindudeva.alt11</string>
		<string>uni093F.alt12</string>
		<string>uni093F0930094D.alt12</string>
		<string>uni093F0930094D0902.alt12</string>
		<string>uni093F0930094D_candrabindudeva.alt12</string>
		<string>uni093F.alt13</string>
		<string>uni093F0930094D.alt13</string>
		<string>uni093F0930094D0902.alt13</string>
		<string>uni093F0930094D_candrabindudeva.alt13</string>
		<string>uni093F.alt14</string>
		<string>uni093F0930094D.alt14</string>
		<string>uni093F0930094D_candrabindudeva.alt14</string>
		<string>uni093F0930094D0902.alt14</string>
		<string>uni093F.alt15</string>
		<string>uni093F0930094D.alt15</string>
		<string>uni093F0930094D0902.alt15</string>
		<string>uni093F0930094D_candrabindudeva.alt15</string>
		<string>uni093F.alt16</string>
		<string>uni093F0930094D.alt16</string>
		<string>uni093F0930094D0902.alt16</string>
		<string>uni093F0930094D_candrabindudeva.alt16</string>
		<string>uni093F.alt17</string>
		<string>uni093F0930094D.alt17</string>
		<string>uni093F0930094D0902.alt17</string>
		<string>uni093F0930094D_candrabindudeva.alt17</string>
		<string>uni093F.alt18</string>
		<string>uni093F0930094D.alt18</string>
		<string>uni093F0930094D0902.alt18</string>
		<string>uni093F0930094D_candrabindudeva.alt18</string>
		<string>uni093F.alt19</string>
		<string>uni093F0930094D.alt19</string>
		<string>uni093F0930094D_candrabindudeva.alt19</string>
		<string>uni093F0930094D0902.alt19</string>
		<string>uni093F.alt20</string>
		<string>uni093F0930094D.alt20</string>
		<string>uni093F0930094D0902.alt20</string>
		<string>uni093F0930094D_candrabindudeva.alt20</string>
		<string>uni093F.alt21</string>
		<string>uni093F0930094D.alt21</string>
		<string>uni093F0930094D0902.alt21</string>
		<string>uni093F0930094D_candrabindudeva.alt21</string>
		<string>uni0940</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>uni09400930094D_candrabindudeva</string>
		<string>uni0940.alt1</string>
		<string>iiMatra_reph-deva.alt1</string>
		<string>iiMatra_reph_anusvara-deva.alt1</string>
		<string>uni09400930094D_candrabindudeva.alt1</string>
		<string>uni0940.alt2</string>
		<string>iiMatra_reph-deva.alt2</string>
		<string>iiMatra_reph_anusvara-deva.alt2</string>
		<string>uni09400930094D_candrabindudeva.alt2</string>
		<string>uni0940.alt3</string>
		<string>iiMatra_reph-deva.alt3</string>
		<string>iiMatra_reph_anusvara-deva.alt3</string>
		<string>uni09400930094D_candrabindudeva.alt3</string>
		<string>uni0940.alt4</string>
		<string>uni09400930094D_candrabindudeva.alt4</string>
		<string>iiMatra_reph-deva.alt4</string>
		<string>iiMatra_reph_anusvara-deva.alt4</string>
		<string>uni0940.alt5</string>
		<string>iiMatra_reph-deva.alt5</string>
		<string>iiMatra_reph_anusvara-deva.alt5</string>
		<string>uni09400930094D_candrabindudeva.alt5</string>
		<string>uvowelsigndeva</string>
		<string>uuvowelsigndeva</string>
		<string>rvocalicvowelsigndeva</string>
		<string>rvocalicvowelsigndeva.alt</string>
		<string>rrvocalicvowelsigndeva</string>
		<string>rrvocalicvowelsigndeva.alt</string>
		<string>lvocalicvowelsigndeva</string>
		<string>llvocalicvowelsigndeva</string>
		<string>ecandravowelsigndeva</string>
		<string>eshortvowelsigndeva</string>
		<string>evowelsigndeva</string>
		<string>evowelsigndeva_uni0930094D</string>
		<string>evowelsigndeva_anusvaradeva</string>
		<string>evowelsigndeva_candrabindudeva</string>
		<string>evowelsigndeva_uni0930094D_anus</string>
		<string>evowelsigndeva_uni0930094D_cand</string>
		<string>aivowelsigndeva</string>
		<string>aivowelsigndeva_uni0930094D</string>
		<string>aivowelsigndeva_anusvaradeva</string>
		<string>aivowelsigndeva_candrabindudeva</string>
		<string>aivowelsigndeva_uni0930094D_anu</string>
		<string>aivowelsigndeva_uni0930094D_can</string>
		<string>uni0930094D</string>
		<string>uni0930094D_anusvaradeva</string>
		<string>uni0930094D_candrabindudeva</string>
		<string>rashtra-deva</string>
		<string>ocandravowelsigndeva</string>
		<string>uni094A</string>
		<string>ovowelsigndeva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_anusvara-deva</string>
		<string>ovowelsigndeva_candrabindudeva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>ovowelsigndeva_uni0930094D_cand</string>
		<string>uni094C</string>
		<string>auMatra_reph-deva</string>
		<string>uni094C_uni0902</string>
		<string>uni094C_candrabindudeva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>uni094C0930094D_candrabindudeva</string>
		<string>uni093B</string>
		<string>uni094F</string>
		<string>uni0955</string>
		<string>uni093A</string>
		<string>uni0956</string>
		<string>uni0957</string>
		<string>udattadeva</string>
		<string>anudattadeva</string>
		<string>viramadeva</string>
		<string>nuktadeva</string>
		<string>gravedeva</string>
		<string>acutedeva</string>
		<string>kadeva</string>
		<string>khadeva</string>
		<string>gadeva</string>
		<string>ghadeva</string>
		<string>ngadeva</string>
		<string>cadeva</string>
		<string>chadeva</string>
		<string>jadeva</string>
		<string>jhadeva</string>
		<string>jhadeva.NEP</string>
		<string>jhadeva.alt</string>
		<string>nyadeva</string>
		<string>ttadeva</string>
		<string>tthadeva</string>
		<string>ddadeva</string>
		<string>ddhadeva</string>
		<string>nnadeva</string>
		<string>tadeva</string>
		<string>thadeva</string>
		<string>dadeva</string>
		<string>dhadeva</string>
		<string>nadeva</string>
		<string>nnnadeva</string>
		<string>padeva</string>
		<string>uni092B</string>
		<string>uni092C</string>
		<string>bhadeva</string>
		<string>madeva</string>
		<string>uni092F</string>
		<string>radeva</string>
		<string>rradeva</string>
		<string>uni0932</string>
		<string>uni0932.MAR</string>
		<string>lladeva</string>
		<string>llladeva</string>
		<string>vadeva</string>
		<string>shadeva</string>
		<string>shadeva.MAR</string>
		<string>ssadeva</string>
		<string>sadeva</string>
		<string>hadeva</string>
		<string>qadeva</string>
		<string>khhadeva</string>
		<string>ghhadeva</string>
		<string>zadeva</string>
		<string>dddhadeva</string>
		<string>rhadeva</string>
		<string>fadeva</string>
		<string>yyadeva</string>
		<string>uni0979</string>
		<string>uni097B</string>
		<string>uni097C</string>
		<string>uni097E</string>
		<string>uni097F</string>
		<string>uni0978</string>
		<string>uni0915094D_khadeva</string>
		<string>uni0915094D_cadeva</string>
		<string>uni0915094D_chadeva</string>
		<string>uni0915094D_tadeva</string>
		<string>uni0915094D_thadeva</string>
		<string>uni0915094D_nadeva</string>
		<string>uni0915094D_madeva</string>
		<string>uni0915094D_radeva</string>
		<string>uni0915094D_radeva.NEP</string>
		<string>uni0915094D_shadeva</string>
		<string>uni0915094D_ssadeva</string>
		<string>uni0915094D_ssadeva.alt</string>
		<string>uni0915094D0937094D_nnadeva</string>
		<string>uni0915094D0937094D_madeva</string>
		<string>uni0915094D0937094D092F</string>
		<string>uni0915094D_sadeva</string>
		<string>uni0916094D_khadeva</string>
		<string>uni0916094D_madeva</string>
		<string>uni0916094D_radeva</string>
		<string>uni0917094D_nadeva</string>
		<string>uni0917094D_bhadeva</string>
		<string>uni0917094D_radeva</string>
		<string>uni0917094D_shadeva</string>
		<string>uni0918094D_nadeva</string>
		<string>uni0918094D_radeva</string>
		<string>uni0919094D_gadeva</string>
		<string>uni0919094D_madeva</string>
		<string>uni0919094D_radeva</string>
		<string>uni091A094D_cadeva</string>
		<string>uni091A094D_radeva</string>
		<string>uni091B094D_radeva</string>
		<string>uni091C094D_jadeva</string>
		<string>uni091C094D091C094D092F</string>
		<string>uni091C094D_nyadeva</string>
		<string>uni091C094D_nyadeva.alt</string>
		<string>uni091C094D092F</string>
		<string>uni091C094D_radeva</string>
		<string>uni091D094D_radeva</string>
		<string>uni091D094D_radeva.NEP</string>
		<string>uni091E094D_cadeva</string>
		<string>uni091E094D_jadeva</string>
		<string>uni091E094D_jhadeva</string>
		<string>uni091E094D_radeva</string>
		<string>uni091E094D_sadeva</string>
		<string>uni091F094D_ttadeva</string>
		<string>uni091F094D_tthadeva</string>
		<string>uni091F094D092F</string>
		<string>uni091F094D_radeva</string>
		<string>uni091F094D_vadeva</string>
		<string>uni0920094D_tthadeva</string>
		<string>uni0920094D092F</string>
		<string>uni0920094D_radeva</string>
		<string>uni0921094D_gadeva</string>
		<string>uni0921094D_ddadeva</string>
		<string>uni0921094D_ddhadeva</string>
		<string>uni0921094D092F</string>
		<string>uni0921094D_radeva</string>
		<string>uni0922094D_ddhadeva</string>
		<string>uni0922094D092F</string>
		<string>uni0922094D_radeva</string>
		<string>uni0923094D_radeva</string>
		<string>uni0924094D_khadeva</string>
		<string>uni0924094D_tadeva</string>
		<string>uni0924094D0924094D092F</string>
		<string>uni0924094D_thadeva</string>
		<string>uni0924094D_nadeva</string>
		<string>uni0924094D0928094D092F</string>
		<string>uni0924094D_madeva</string>
		<string>uni0924094D092F</string>
		<string>uni0924094D_radeva</string>
		<string>uni0924094D0932</string>
		<string>uni0924094D_sadeva</string>
		<string>uni0924094D0938094D_thadeva</string>
		<string>uni0924094D0938094D_nadeva</string>
		<string>uni0925094D_radeva</string>
		<string>uni0926094D_gadeva</string>
		<string>uni0926094D_ghadeva</string>
		<string>uni0926094D_dadeva</string>
		<string>uni0926094D_dhadeva</string>
		<string>uni0926094D_nadeva</string>
		<string>uni0926094D092C</string>
		<string>uni0926094D_bhadeva</string>
		<string>uni0926094D_madeva</string>
		<string>uni0926094D092F</string>
		<string>uni0926094D_radeva</string>
		<string>uni0926094D0930094D092F</string>
		<string>uni0926094D_vadeva</string>
		<string>uni0926094D_rvocalicvowelsignde</string>
		<string>uni0927094D_radeva</string>
		<string>uni0928094D_khadeva</string>
		<string>uni0928094D_cadeva</string>
		<string>uni0928094D_jadeva</string>
		<string>uni0928094D_ddadeva</string>
		<string>uni0928094D0924094D_radeva</string>
		<string>uni0928094D_thadeva</string>
		<string>uni0928094D_dhadeva</string>
		<string>uni0928094D0927094D_radeva</string>
		<string>uni0928094D_nadeva</string>
		<string>uni0928094D_madeva</string>
		<string>uni0928094D092F</string>
		<string>uni0928094D_radeva</string>
		<string>uni0928094D_shadeva</string>
		<string>uni0928094D_sadeva</string>
		<string>uni0928094D_hadeva</string>
		<string>uni0928094D0939094D_uvowelsignd</string>
		<string>uni0928094D0939094D_uuvowelsign</string>
		<string>uni0928094D0939094D_rvocalicvow</string>
		<string>uni0928094D_zadeva</string>
		<string>uni092A094D091A094D092F</string>
		<string>uni092A094D_nadeva</string>
		<string>uni092A094D_radeva</string>
		<string>uni092B094D_radeva</string>
		<string>uni092C094D_jadeva</string>
		<string>uni092C094D_dhadeva</string>
		<string>uni092C094D_bhadeva</string>
		<string>uni092C094D_radeva</string>
		<string>uni092C094D_shadeva</string>
		<string>uni092C094D_zadeva</string>
		<string>uni092D094D_bhadeva</string>
		<string>uni092D094D092F</string>
		<string>uni092D094D_radeva</string>
		<string>uni092E094D_cadeva</string>
		<string>uni092E094D_nadeva</string>
		<string>uni092E094D092A094D_radeva</string>
		<string>uni092E094D_bhadeva</string>
		<string>uni092E094D092D094D_radeva</string>
		<string>uni092E094D_madeva</string>
		<string>uni092E094D_radeva</string>
		<string>uni092F094D_radeva</string>
		<string>uni0930094D_uvowelsigndeva</string>
		<string>uni0930094D_uuvowelsigndeva</string>
		<string>uni0931094D_hadeva</string>
		<string>uni0931094D0939094D_uvowelsignd</string>
		<string>uni0931094D0939094D_uuvowelsign</string>
		<string>uni0932094D_khadeva</string>
		<string>uni0932094D_jadeva</string>
		<string>uni0932094D_bhadeva</string>
		<string>uni0932094D092D094D092F</string>
		<string>uni0932094D_madeva</string>
		<string>uni0932094D_radeva</string>
		<string>uni0932094D_shadeva</string>
		<string>uni0932094D_khhadeva</string>
		<string>uni0932094D_zadeva</string>
		<string>uni0933094D_radeva</string>
		<string>uni0934094D_radeva</string>
		<string>uni0935094D_radeva</string>
		<string>uni0936094D_kadeva</string>
		<string>uni0936094D_cadeva</string>
		<string>uni0936094D_chadeva</string>
		<string>uni0936094D_ttadeva</string>
		<string>uni0936094D_tadeva</string>
		<string>uni0936094D_nadeva</string>
		<string>uni0936094D_madeva</string>
		<string>uni0936094D092F</string>
		<string>uni0936094D_radeva</string>
		<string>uni0936094D0932</string>
		<string>uni0936094D_vadeva</string>
		<string>uni0936094D_shadeva</string>
		<string>uni0936094D_qadeva</string>
		<string>uni0937094D_radeva</string>
		<string>uni0938094D_khadeva</string>
		<string>uni0938094D_ddadeva</string>
		<string>uni0938094D0924094D_radeva</string>
		<string>uni0938094D_thadeva</string>
		<string>uni0938094D_nadeva</string>
		<string>uni0938094D_madeva</string>
		<string>uni0938094D_radeva</string>
		<string>uni0938094D_sadeva</string>
		<string>uni0939094D_nnadeva</string>
		<string>uni0939094D_nadeva</string>
		<string>uni0939094D_madeva</string>
		<string>uni0939094D_radeva</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D_vadeva</string>
		<string>uni0939094D_uvowelsigndeva</string>
		<string>uni0939094D_uuvowelsigndeva</string>
		<string>uni0939094D_rvocalicvowelsignde</string>
		<string>uni0958094D_radeva</string>
		<string>uni0958094D_shadeva</string>
		<string>uni0958094D_sadeva</string>
		<string>uni0959094D_madeva</string>
		<string>uni0959094D_radeva</string>
		<string>uni0959094D_shadeva</string>
		<string>uni0959094D_sadeva</string>
		<string>uni095A094D_radeva</string>
		<string>uni095B094D_madeva</string>
		<string>uni095B094D092F</string>
		<string>uni095B094D_radeva</string>
		<string>uni095B094D_zadeva</string>
		<string>dddh_ra-deva</string>
		<string>rh_ra-deva</string>
		<string>uni095E094D_thadeva</string>
		<string>uni095E094D_radeva</string>
		<string>uni095E094D_shadeva</string>
		<string>uni095E094D_sadeva</string>
		<string>uni095E094D_zadeva</string>
		<string>uni095F094D_radeva</string>
		<string>uni0915094D</string>
		<string>uni0915094D0930094D</string>
		<string>uni0915094D0937094D</string>
		<string>uni0915094D0938094D</string>
		<string>uni0916094D</string>
		<string>uni0916094D0930094D</string>
		<string>uni0917094D</string>
		<string>uni0917094D0930094D</string>
		<string>uni0918094D</string>
		<string>uni0918094D0930094D</string>
		<string>uni0919094D</string>
		<string>uni091A094D</string>
		<string>uni091A094D0930094D</string>
		<string>uni091B094D</string>
		<string>uni091C094D</string>
		<string>uni091C094D091C094D</string>
		<string>uni091C094D091E094D</string>
		<string>uni091C094D0930094D</string>
		<string>uni091D094D</string>
		<string>uni091D094D.NEP</string>
		<string>uni091D094D0930094D</string>
		<string>uni091E094D</string>
		<string>uni091E094D0930094D</string>
		<string>uni091F094D</string>
		<string>uni0920094D</string>
		<string>uni0921094D</string>
		<string>uni0922094D</string>
		<string>uni0923094D</string>
		<string>uni0923094D0930094D</string>
		<string>uni0924094D</string>
		<string>uni0924094D0924094D</string>
		<string>uni0924094D092E094D</string>
		<string>uni0924094D0930094D</string>
		<string>uni0924094D0938094D</string>
		<string>uni0925094D</string>
		<string>uni0925094D0930094D</string>
		<string>uni0926094D</string>
		<string>uni0927094D</string>
		<string>uni0927094D0930094D</string>
		<string>uni0928094D</string>
		<string>uni0928094D0924094D0930094D</string>
		<string>uni0928094D0927094D</string>
		<string>uni0928094D0930094D</string>
		<string>uni0928094D0938094D</string>
		<string>uni0929094D</string>
		<string>uni092A094D</string>
		<string>uni092A094D0930094D</string>
		<string>uni092B094D</string>
		<string>uni092B094D0930094D</string>
		<string>uni092C094D</string>
		<string>uni092C094D0930094D</string>
		<string>uni092D094D</string>
		<string>uni092D094D0930094D</string>
		<string>uni092E094D</string>
		<string>uni092E094D0930094D</string>
		<string>uni092F094D</string>
		<string>uni092F094D0930094D</string>
		<string>uni0931094D</string>
		<string>uni0932094D</string>
		<string>uni0932094D0930094D</string>
		<string>uni0933094D</string>
		<string>uni0933094D0930094D</string>
		<string>uni0934094D</string>
		<string>uni0934094D0930094D</string>
		<string>uni0935094D</string>
		<string>uni0935094D0930094D</string>
		<string>uni0936094D</string>
		<string>uni0936094D.MAR</string>
		<string>uni0936094D0930094D</string>
		<string>uni0937094D</string>
		<string>uni0937094D0930094D</string>
		<string>uni0938094D</string>
		<string>uni0938094D0925094D</string>
		<string>uni0938094D0930094D</string>
		<string>uni0939094D</string>
		<string>uni0939094D0930094D</string>
		<string>uni0958094D</string>
		<string>uni0959094D</string>
		<string>uni095A094D</string>
		<string>uni095B094D</string>
		<string>uni095E094D</string>
		<string>zerodeva</string>
		<string>onedeva</string>
		<string>twodeva</string>
		<string>threedeva</string>
		<string>fourdeva</string>
		<string>fivedeva</string>
		<string>sixdeva</string>
		<string>sevendeva</string>
		<string>eightdeva</string>
		<string>ninedeva</string>
		<string>uni097D</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviationsigndeva</string>
		<string>uni0971</string>
		<string>omdeva</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>pi</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>florin</string>
		<string>uni20B9</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>uni00B5</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>dottedcircle</string>
		<string>lozenge</string>
		<string>ampersand</string>
		<string>asciicircum</string>
		<string>at</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>paragraph</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni200D</string>
		<string>uni200C</string>
		<string>NULL</string>
	</array>
</dict>
</plist>
