<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>CFA4B904-E3F1-48B6-A7F6-47DC1FF2A3E1</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>public.glyphOrder</key>
	<array>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>qa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>dddha-deva</string>
		<string>rha-deva</string>
		<string>fa-deva</string>
		<string>yya-deva</string>
		<string>k_ra-deva</string>
		<string>kh_ra-deva</string>
		<string>g_ra-deva</string>
		<string>gh_ra-deva</string>
		<string>c_ra-deva</string>
		<string>j_ra-deva</string>
		<string>jh_ra-deva</string>
		<string>ny_ra-deva</string>
		<string>nn_ra-deva</string>
		<string>th_ra-deva</string>
		<string>d_ra-deva</string>
		<string>dh_ra-deva</string>
		<string>n_ra-deva</string>
		<string>p_ra-deva</string>
		<string>ph_ra-deva</string>
		<string>b_ra-deva</string>
		<string>bh_ra-deva</string>
		<string>m_ra-deva</string>
		<string>y_ra-deva</string>
		<string>l_ra-deva</string>
		<string>v_ra-deva</string>
		<string>ss_ra-deva</string>
		<string>s_ra-deva</string>
		<string>khh_ra-deva</string>
		<string>z_ra-deva</string>
		<string>f_ra-deva</string>
		<string>ideva</string>
		<string>g-deva</string>
		<string>gh-deva</string>
		<string>c-deva</string>
		<string>ch-deva</string>
		<string>j-deva</string>
		<string>ny-deva</string>
		<string>nn-deva</string>
		<string>t-deva</string>
		<string>n-deva</string>
		<string>p-deva</string>
		<string>bh-deva</string>
		<string>m-deva</string>
		<string>l-deva</string>
		<string>sh-deva</string>
		<string>ghh-deva</string>
		<string>aasigndeva</string>
		<string>osigndeva</string>
		<string>space</string>
		<string>esigndeva</string>
		<string>nuktadeva</string>
	</array>
</dict>
</plist>
