<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>CFA4B904-E3F1-48B6-A7F6-47DC1FF2A3E1</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>public.glyphOrder</key>
	<array>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>qa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>dddha-deva</string>
		<string>rha-deva</string>
		<string>fa-deva</string>
		<string>yya-deva</string>
		<string>k_kha-deva</string>
		<string>k_ca-deva</string>
		<string>k_cha-deva</string>
		<string>k_tha-deva</string>
		<string>k_na-deva</string>
		<string>k_ma-deva</string>
		<string>k_ra-deva</string>
		<string>k_sha-deva</string>
		<string>k_sa-deva</string>
		<string>kh_kha-deva</string>
		<string>kh_ma-deva</string>
		<string>kh_ra-deva</string>
		<string>g_na-deva</string>
		<string>g_ra-deva</string>
		<string>gh_na-deva</string>
		<string>gh_ra-deva</string>
		<string>c_ca-deva</string>
		<string>c_ra-deva</string>
		<string>j_ja-deva</string>
		<string>j_j_ya-deva</string>
		<string>j_ya-deva</string>
		<string>j_ra-deva</string>
		<string>jh_ra-deva</string>
		<string>ny_ra-deva</string>
		<string>ny_sa-deva</string>
		<string>nn_ra-deva</string>
		<string>t_kha-deva</string>
		<string>t_ta-deva</string>
		<string>t_tha-deva</string>
		<string>t_ma-deva</string>
		<string>t_ya-deva</string>
		<string>t_la-deva</string>
		<string>t_sa-deva</string>
		<string>th_ra-deva</string>
		<string>d_ra-deva</string>
		<string>dh_ra-deva</string>
		<string>n_kha-deva</string>
		<string>n_ca-deva</string>
		<string>n_ja-deva</string>
		<string>n_dda-deva</string>
		<string>n_tha-deva</string>
		<string>n_dha-deva</string>
		<string>n_ma-deva</string>
		<string>n_ya-deva</string>
		<string>n_ra-deva</string>
		<string>n_sha-deva</string>
		<string>n_sa-deva</string>
		<string>n_ha-deva</string>
		<string>p_ra-deva</string>
		<string>ph_ra-deva</string>
		<string>b_ja-deva</string>
		<string>b_dha-deva</string>
		<string>b_bha-deva</string>
		<string>b_ra-deva</string>
		<string>b_sha-deva</string>
		<string>b_za-deva</string>
		<string>bh_bha-deva</string>
		<string>bh_ra-deva</string>
		<string>m_ca-deva</string>
		<string>m_bha-deva</string>
		<string>m_ma-deva</string>
		<string>m_ra-deva</string>
		<string>y_ra-deva</string>
		<string>l_kha-deva</string>
		<string>l_bha-deva</string>
		<string>l_ma-deva</string>
		<string>l_ra-deva</string>
		<string>l_sha-deva</string>
		<string>v_ra-deva</string>
		<string>sh_ka-deva</string>
		<string>sh_cha-deva</string>
		<string>sh_tta-deva</string>
		<string>sh_ta-deva</string>
		<string>sh_ma-deva</string>
		<string>sh_ya-deva</string>
		<string>sh_sha-deva</string>
		<string>sh_qa-deva</string>
		<string>ss_ra-deva</string>
		<string>s_kha-deva</string>
		<string>s_dda-deva</string>
		<string>s_tha-deva</string>
		<string>s_ma-deva</string>
		<string>s_ra-deva</string>
		<string>s_sa-deva</string>
		<string>q_sha-deva</string>
		<string>q_sa-deva</string>
		<string>khh_ma-deva</string>
		<string>khh_ra-deva</string>
		<string>khh_sha-deva</string>
		<string>khh_sa-deva</string>
		<string>z_ma-deva</string>
		<string>z_ya-deva</string>
		<string>z_ra-deva</string>
		<string>z_za-deva</string>
		<string>f_ra-deva</string>
		<string>f_sha-deva</string>
		<string>f_sa-deva</string>
		<string>f_za-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>eCandra-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>k-deva</string>
		<string>kh-deva</string>
		<string>g-deva</string>
		<string>gh-deva</string>
		<string>ng-deva</string>
		<string>c-deva</string>
		<string>ch-deva</string>
		<string>j-deva</string>
		<string>j_j-deva</string>
		<string>jh-deva</string>
		<string>ny-deva</string>
		<string>tt-deva</string>
		<string>tth-deva</string>
		<string>dd-deva</string>
		<string>ddh-deva</string>
		<string>nn-deva</string>
		<string>t-deva</string>
		<string>th-deva</string>
		<string>d-deva</string>
		<string>dh-deva</string>
		<string>n-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>b-deva</string>
		<string>bh-deva</string>
		<string>m-deva</string>
		<string>y-deva</string>
		<string>l-deva</string>
		<string>v-deva</string>
		<string>sh-deva</string>
		<string>ss-deva</string>
		<string>s-deva</string>
		<string>h-deva</string>
		<string>q-deva</string>
		<string>khh-deva</string>
		<string>ghh-deva</string>
		<string>z-deva</string>
		<string>f-deva</string>
		<string>aaMatra-deva</string>
		<string>iMatra-deva</string>
		<string>iiMatra-deva</string>
		<string>oMatra-deva</string>
		<string>oMatra_anusvara-deva</string>
		<string>auMatra-deva</string>
		<string>auMatra_anusvara-deva</string>
		<string>comma</string>
		<string>exclam</string>
		<string>emdash</string>
		<string>hyphen</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>space</string>
		<string>uMatra-deva</string>
		<string>uuMatra-deva</string>
		<string>rVocalicMatra-deva</string>
		<string>eCandraMatra-deva</string>
		<string>candraBindu-deva</string>
		<string>eMatra-deva</string>
		<string>eMatra_anusvara-deva</string>
		<string>aiMatra-deva</string>
		<string>aiMatra_anusvara-deva</string>
		<string>anusvara-deva</string>
		<string>halant-deva</string>
		<string>nukta-deva</string>
		<string>reph-deva</string>
		<string>reph_anusvara-deva</string>
	</array>
</dict>
</plist>
